:root {
  --max-width-xxxxs: 20rem;  // ~320px
  --max-width-xxxs:  26rem;  // ~416px
  --max-width-xxs:   32rem;  // ~512px
  --max-width-xs:    38rem;  // ~608px
  --max-width-sm:    48rem;  // ~768px
  --max-width-md:    64rem;  // ~1024px
  --max-width-lg:    80rem;  // ~1280px
  --max-width-xl:    90rem;  // ~1440px
  --max-width-xxl:   100rem; // ~1600px
  --max-width-xxxl:  120rem; // ~1920px
  --max-width-xxxxl: 150rem; // ~2400px
}

// classes used to center content on x-axis and set content max width
.container {
  width: calc(100% - 2*var(--component-padding));
  margin-left: auto;
  margin-right: auto;
}

.max-width-xxxxs { max-width: var(--max-width-xxxxs); }
.max-width-xxxs  { max-width: var(--max-width-xxxs); }
.max-width-xxs   { max-width: var(--max-width-xxs); }
.max-width-xs    { max-width: var(--max-width-xs); }
.max-width-sm    { max-width: var(--max-width-sm); }
.max-width-md    { max-width: var(--max-width-md); }
.max-width-lg    { max-width: var(--max-width-lg); }
.max-width-xl    { max-width: var(--max-width-xl); }
.max-width-xxl   { max-width: var(--max-width-xxl); }
.max-width-xxxl  { max-width: var(--max-width-xxxl); }
.max-width-xxxxl { max-width: var(--max-width-xxxxl); }
.max-width-100\% { max-width: 100%; }

// alt approach - max-width is equal to current breakpoint
[class*="max-width-adaptive"] {
  max-width: map-get($map: $breakpoints, $key: xs);
}

@include breakpoint(sm) {
  [class*="max-width-adaptive"] {
    max-width: map-get($map: $breakpoints, $key: sm);
  }
}

@include breakpoint(md) {
  .max-width-adaptive-md,
  .max-width-adaptive,
  .max-width-adaptive-lg,
  .max-width-adaptive-xl {
    max-width: map-get($map: $breakpoints, $key: md);
  }
}

@include breakpoint(lg) {
  .max-width-adaptive,
  .max-width-adaptive-lg,
  .max-width-adaptive-xl {
    max-width: map-get($map: $breakpoints, $key: lg);
  }
}

@include breakpoint(xl) {
  .max-width-adaptive-xl {
    max-width: map-get($map: $breakpoints, $key: xl);
  }
}

// --------------------------------

// Grid system

// --------------------------------

$grid-columns: 12 !default;

.grid {
  --gap: 0px;
  --offset: var(--gap);
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-basis: 100%;
    max-width: 100%;
  }
  
  @supports (--css: variables) {
    > *[class*="offset-"] {
      margin-left: var(--offset);
    }
  }
}

[class*="gap-xxxxs"], [class*="gap-xxxs"], [class*="gap-xxs"], [class*="gap-xs"], [class*="gap-sm"], [class*="gap-md"], [class*="gap-lg"], [class*="gap-xl"], [class*="gap-xxl"], [class*="gap-xxxl"], [class*="gap-xxxxl"], [class*="grid-gap-"], [class*="flex-gap-"] {
  margin-bottom: -0.75em;
  margin-left: -0.75em;

  > * {
    margin-bottom: 0.75em;
    margin-left: 0.75em;
  }
}

@supports (--css: variables) {
  [class*="gap-xxxxs"], [class*="gap-xxxs"], [class*="gap-xxs"], [class*="gap-xs"], [class*="gap-sm"], [class*="gap-md"], [class*="gap-lg"], [class*="gap-xl"], [class*="gap-xxl"], [class*="gap-xxxl"], [class*="gap-xxxxl"], [class*="grid-gap-"], [class*="flex-gap-"] {
    --gap: 0px;
    --offset: var(--gap);
    margin-bottom: calc(-1 * var(--gap));
    margin-left: calc(-1 * var(--gap));
  
    > * {
      margin-bottom: var(--gap);
      margin-left: var(--offset);
    }
  }

  .gap-xxxxs, .grid-gap-xxxxs, .flex-gap-xxxxs { --gap: var(--space-xxxxs); }
  .gap-xxxs, .grid-gap-xxxs, .flex-gap-xxxs    { --gap: var(--space-xxxs); }
  .gap-xxs, .grid-gap-xxs, .flex-gap-xxs       { --gap: var(--space-xxs); }
  .gap-xs, .grid-gap-xs, .flex-gap-xs          { --gap: var(--space-xs); }
  .gap-sm, .grid-gap-sm, .flex-gap-sm          { --gap: var(--space-sm); }
  .gap-md, .grid-gap-md, .flex-gap-md          { --gap: var(--space-md); }
  .gap-lg, .grid-gap-lg, .flex-gap-lg          { --gap: var(--space-lg); }
  .gap-xl, .grid-gap-xl, .flex-gap-xl          { --gap: var(--space-xl); }
  .gap-xxl, .grid-gap-xxl, .flex-gap-xxl       { --gap: var(--space-xxl); }
  .gap-xxxl, .grid-gap-xxxl, .flex-gap-xxxl    { --gap: var(--space-xxxl); }
  .gap-xxxxl, .grid-gap-xxxxl, .flex-gap-xxxxl { --gap: var(--space-xxxxl); }
}

@function round-width ($i) {
  //function used to round width to a number with 2 decimal places - used for IE fallback
  $width : floor(100% * $i * 100/ $grid-columns) / 100;
  @return $width;
}

@mixin autoSizedColumn {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col { // auto-sized column
  @include autoSizedColumn;
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
  }
}

.col-content {
  flex-basis: initial;
  max-width: initial;
}

@for $i from 1 through $grid-columns - 1 {
  .offset-#{$i} {
    --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
  }
}

@include breakpoint(xs) {
  .col\@xs { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@xs {
      flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
      max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    }
  }

  .col-content\@xs {
    flex-basis: initial;
    max-width: initial;
  }

  @for $i from 1 through $grid-columns - 1 {
    .offset-#{$i}\@xs {
      --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
    }
  }

  @supports (--css: variables) {
    .gap-xxxxs\@xs { --gap: var(--space-xxxxs); }
    .gap-xxxs\@xs  { --gap: var(--space-xxxs); }
    .gap-xxs\@xs   { --gap: var(--space-xxs); }
    .gap-xs\@xs    { --gap: var(--space-xs); }
    .gap-sm\@xs    { --gap: var(--space-sm); }
    .gap-md\@xs    { --gap: var(--space-md); }
    .gap-lg\@xs    { --gap: var(--space-lg); }
    .gap-xl\@xs    { --gap: var(--space-xl); }
    .gap-xxl\@xs   { --gap: var(--space-xxl); }
    .gap-xxxl\@xs  { --gap: var(--space-xxxl); }
    .gap-xxxxl\@xs { --gap: var(--space-xxxxl); }
    .gap-0\@xs     { --gap: 0px; }
  }
}

@include breakpoint(sm) {
  .col\@sm { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@sm  {
      flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
      max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    }
  }

  .col-content\@sm {
    flex-basis: initial;
    max-width: initial;
  }

  @for $i from 1 through $grid-columns - 1 {
    .offset-#{$i}\@sm {
      --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
    }
  }

  @supports (--css: variables) {
    .gap-xxxxs\@sm { --gap: var(--space-xxxxs); }
    .gap-xxxs\@sm  { --gap: var(--space-xxxs); }
    .gap-xxs\@sm   { --gap: var(--space-xxs); }
    .gap-xs\@sm    { --gap: var(--space-xs); }
    .gap-sm\@sm    { --gap: var(--space-sm); }
    .gap-md\@sm    { --gap: var(--space-md); }
    .gap-lg\@sm    { --gap: var(--space-lg); }
    .gap-xl\@sm    { --gap: var(--space-xl); }
    .gap-xxl\@sm   { --gap: var(--space-xxl); }
    .gap-xxxl\@sm  { --gap: var(--space-xxxl); }
    .gap-xxxxl\@sm { --gap: var(--space-xxxxl); }
    .gap-0\@sm     { --gap: 0px; }
  }
}

@include breakpoint(md) {
  .col\@md { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@md {
      flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
      max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    }
  }

  .col-content\@md {
    flex-basis: initial;
    max-width: initial;
  }

  @for $i from 1 through $grid-columns - 1 {
    .offset-#{$i}\@md {
      --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
    }
  }

  @supports (--css: variables) {
    .gap-xxxxs\@md { --gap: var(--space-xxxxs); }
    .gap-xxxs\@md  { --gap: var(--space-xxxs); }
    .gap-xxs\@md   { --gap: var(--space-xxs); }
    .gap-xs\@md    { --gap: var(--space-xs); }
    .gap-sm\@md    { --gap: var(--space-sm); }
    .gap-md\@md    { --gap: var(--space-md); }
    .gap-lg\@md    { --gap: var(--space-lg); }
    .gap-xl\@md    { --gap: var(--space-xl); }
    .gap-xxl\@md   { --gap: var(--space-xxl); }
    .gap-xxxl\@md  { --gap: var(--space-xxxl); }
    .gap-xxxxl\@md { --gap: var(--space-xxxxl); }
    .gap-0\@md     { --gap: 0px; }
  }
}

@include breakpoint(lg) {
  .col\@lg { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@lg {
      flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
      max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    }
  }

  .col-content\@lg {
    flex-basis: initial;
    max-width: initial;
  }

  @for $i from 1 through $grid-columns - 1 {
    .offset-#{$i}\@lg {
      --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
    }
  }

  @supports (--css: variables) {
    .gap-xxxxs\@lg { --gap: var(--space-xxxxs); }
    .gap-xxxs\@lg  { --gap: var(--space-xxxs); }
    .gap-xxs\@lg   { --gap: var(--space-xxs); }
    .gap-xs\@lg    { --gap: var(--space-xs); }
    .gap-sm\@lg    { --gap: var(--space-sm); }
    .gap-md\@lg    { --gap: var(--space-md); }
    .gap-lg\@lg    { --gap: var(--space-lg); }
    .gap-xl\@lg    { --gap: var(--space-xl); }
    .gap-xxl\@lg   { --gap: var(--space-xxl); }
    .gap-xxxl\@lg  { --gap: var(--space-xxxl); }
    .gap-xxxxl\@lg { --gap: var(--space-xxxxl); }
    .gap-0\@lg     { --gap: 0px; }
  }
}

@include breakpoint(xl) {
  .col\@xl { // auto-sized column
    @include autoSizedColumn;
  }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@xl {
      flex-basis: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
      max-width: calc( #{round-width($i)} - 0.01px - var(--gap, 0.75em));
    }
  }

  .col-content\@xl {
    flex-basis: initial;
    max-width: initial;
  }

  @for $i from 1 through $grid-columns - 1 {
    .offset-#{$i}\@xl {
      --offset: calc(#{round-width($i)} + var(--gap, 0.75em));
    }
  }

  @supports (--css: variables) {
    .gap-xxxxs\@xl { --gap: var(--space-xxxxs); }
    .gap-xxxs\@xl  { --gap: var(--space-xxxs); }
    .gap-xxs\@xl   { --gap: var(--space-xxs); }
    .gap-xs\@xl    { --gap: var(--space-xs); }
    .gap-sm\@xl    { --gap: var(--space-sm); }
    .gap-md\@xl    { --gap: var(--space-md); }
    .gap-lg\@xl    { --gap: var(--space-lg); }
    .gap-xl\@xl    { --gap: var(--space-xl); }
    .gap-xxl\@xl   { --gap: var(--space-xxl); }
    .gap-xxxl\@xl  { --gap: var(--space-xxxl); }
    .gap-xxxxl\@xl { --gap: var(--space-xxxxl); }
    .gap-0\@xl     { --gap: 0px; }
  }
}

// --------------------------------

// CSS Grid Layout fallback

// --------------------------------

@mixin gridFallback($gap: null) {
  display: flex;
  flex-wrap: wrap;
  @if( $gap == null ) {
    $gap: var(--space-md);
  }

  margin: calc(#{$gap} * -1) 0 0 calc(#{$gap} * -1);

  > * {
    padding: #{$gap} 0 0 #{$gap};
    background-clip: content-box;
  }

  @supports (grid-area: auto) {
    margin: 0;

    > * {
      padding: 0;
      max-width: none!important;
    }
  }
}

@mixin column($width) {
  @if unit($width) != '%' {
    $width: $width * 100%;
  }
  flex-basis: #{$width};
  max-width: #{$width};
}