// --------------------------------

// (START) Global Editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

.form-control { // basic form element style
  --form-control-padding-y: var(--space-xs); // padding top/bottom
  --form-control-padding-x: var(--space-xs); // padding left/right
  --form-control-radius: 0.25em; // border radius
  --form-control-font-size: 1em; // font size
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 2px alpha(var(--color-contrast-higher), 0.15);
  transition: .2s;

  &::placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--color-primary), 0 0 0 2px alpha(var(--color-primary), 0.2);
  }
}

.form-control[aria-invalid="true"] {
  box-shadow: inset 0 0 0 2px var(--color-error);

  &:focus {
    box-shadow: inset 0 0 0 2px var(--color-error), 0 0 0 2px alpha(var(--color-error), 0.2);
  }
}

.form-control[disabled], .form-control[readonly] {
  cursor: not-allowed;
}

.form-legend {}
.form-label {}

// --------------------------------

// (END) Global Editor Code

// --------------------------------