:root {
  // size
  --btn-font-size: 1em;
  --btn-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-md: calc(var(--btn-font-size) + 0.2em);
  --btn-lg: calc(var(--btn-font-size) + 0.4em);
}

.btn { // basic button style
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xs) var(--space-sm);
  border-radius: 0.25em;
  box-shadow: 0 4px 16px alpha(var(--color-black), 0.15);
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  font-size: var(--btn-font-size);
  cursor: pointer;
}

// themes
.btn--primary { // main button
  background-color: var(--color-primary);
  color: var(--color-white);
  @include fontSmooth;
}

.btn--subtle { // subtle version, used for secondary actions or in combo with primary/accent button
  background-color: var(--color-contrast-low);
  color: var(--color-contrast-higher);
}

.btn--accent { // used to draw particular attention to the button (e.g. destructive actions)
  background-color: var(--color-accent);
  color: var(--color-white);
  @include fontSmooth;
}

// feedback
.btn--disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}

// size
.btn--sm {
  font-size: var(--btn-sm);
}

.btn--md {
  font-size: var(--btn-md);
}

.btn--lg {
  font-size: var(--btn-lg);
}

.btn--full-width {
  display: flex;
  width: 100%;
}

// btn with icon (only)
.btn--icon {
  padding: var(--space-xs);
}