:root, [data-theme="default"] {
    // main
    --color-primary-darker: hsl(220, 75%, 42%);
    --color-primary-dark: hsl(220, 80%, 48%);
    --color-primary: hsl(220, 90%, 56%);
    --color-primary-light: hsl(220, 90%, 63%);
    --color-primary-lighter: hsl(220, 90%, 92%);
    --color-primary-a20: hsla(220, 90%, 56%, 0.2);

    --color-accent-darker: hsl(355, 75%, 48%);
    --color-accent-dark: hsl(355, 80%, 54%);
    --color-accent: hsl(355, 90%, 61%);
    --color-accent-light: hsl(355, 90%, 68%);
    --color-accent-lighter: hsl(356, 89%, 93%);

    // black + white
    --black: hsl(240, 7%, 12%);
    --black-a10: hsla(240, 7%, 12%, 0.1);
    
    --white: hsl(0, 0%, 100%);

    // feedback
    --color-success-darker: hsl(94, 40%, 45%);
    --color-success-dark: hsl(94, 45%, 50%);
    --color-success: hsl(94, 48%, 56%);
    --color-success-light: hsl(94, 48%, 62%);
    --color-success-lighter: hsl(94, 48%, 92%);
    --color-success-a20: hsla(94, 48%, 56%, 0.2);

    --color-error-darker: hsl(355, 75%, 48%);
    --color-error-dark: hsl(355, 80%, 54%);
    --color-error: hsl(355, 90%, 61%);
    --color-error-light: hsl(355, 90%, 68%);
    --color-error-lighter: hsl(356, 89%, 93%);
    --color-error-a20: hsla(355, 90%, 61%, 0.2);

    --color-warning-darker: hsl(46, 90%, 50%);
    --color-warning-dark: hsl(46, 95%, 55%);
    --color-warning: hsl(46, 100%, 61%);
    --color-warning-light: hsl(46, 100%, 68%);
    --color-warning-lighter: hsl(46, 100%, 91%);
    --color-warning-a20: hsla(46, 100%, 61%, 0.2);

    // color contrast
    --color-bg: hsl(0, 0%, 100%);
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low: hsl(0, 0%, 83%);
    --color-contrast-medium: hsl(240, 1%, 47%);
    --color-contrast-high: hsl(255, 4%, 20%);
    --color-contrast-higher: hsl(240, 7%, 12%);
    --color-bg-a20: hsla(0, 0%, 100%, 0.2);
    --color-contrast-a90: hsla(240, 7%, 12%, 0.9);

    // semantic
    --color-border: var(--color-contrast-low);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
}